h1, h2, h4 {
  text-transform: uppercase;
}

header {
  background-image: url(../img/fields.jpg);
  max-width: 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}

header a, a:link, a:visited, a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

header a:hover {
  color: lightgray;
  text-transform: uppercase;
  transition-duration: 0.5s;
}

.header-title {
  width: 40%;
  margin: 0 auto;
  text-align: justify;
}

.hero-decoration {
  float: right;
  position: relative;
  right: 50%;
}

.hero-decoration img {
  width: 36px;
  height: 18px;
}

.header-text {
  text-align: center;
  margin: 0;
  color: white;
}

.free-trial-btn {
  display: block;
  text-align: center;
  margin: 50px 0 20px 0;
}

.header-title h2 {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding: 0 0 10px;
  margin: 0 0 10px;
}

.header-text .header-ps {
  margin-top: 25px;
  margin-bottom: 50px;
}

.header-button {
  align: center;
}

li {
  float: right;
  padding: 0 5px;
  display: inline-block;
}

.logo-text, .nav-list {
  display: inline-block;
}

.nav-list {
  float: right;
}

.service {
  text-align: center;
  float: left;
  width: calc(1/3 * 80%);
  height: 200px;
  margin: 5em calc(1/6 * 20%);
}
